.reset_password_header{
    margin-top: 7%;
}
.reset_password_header > h1{
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #131E41;
}
.reset_password_header > p{
    width: 70%;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    justify-content:center;
    text-align: center;
    letter-spacing: -0.3px;
    color: #92929D;
    margin: auto;
}
  
.reset_password_label {
    margin: 20px 10px 34px 78px;
    width: 71%;
    border: 0;
    margin-bottom: 10px;
    height: 3.5em;
    box-sizing: border-box;
    box-shadow: none;
    position: relative;
     /* margin: auto; */
}
.reset_password_label label {
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #929292;
    z-index: 0;
    width: 20;
    height: 0;
    left: 0px;
    top: 0px;
    position: absolute;
    top: 15px;
    left: 20px;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: all 0.2s ease-in-out;
    
}
.reset_password_label input {
    z-index: 1;
    height: 3.5em;
    background: #FAFAFA;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.reset_password_label input:valid, .float-label input:focus {
    padding: 20px 8px 5px 20px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.reset_password_label input:focus {
    background: #ffffff;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    border: 1px solid #4F1699;
    border-radius: 4px;
    box-shadow: none;
}
.reset_password_label input:valid + label, .float-label input:focus + label {
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #929292;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

.reset_password_btn{
    width: 71%;
    background: rgba(79, 22, 153, 0.5);
    border-radius: 5px;
    font-family: Euclid Circular A;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #FAFAFB;
    margin-top: 7%;
}


.reset_password_toggle_icon{
    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}
  
  
  
  
  
  
  
  
  