/* EuclidCircularA font family Start Here */
@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-Bold.eot");
  src: local("font/Euclid Circular A Bold"), local("EuclidCircularA-Bold"),
    url("font/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-Bold.woff2") format("woff2"),
    url("font/EuclidCircularA-Bold.woff") format("woff"),
    url("font/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-Light.eot");
  src: local("font/Euclid Circular A Light"), local("EuclidCircularA-Light"),
    url("font/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-Light.woff2") format("woff2"),
    url("font/EuclidCircularA-Light.woff") format("woff"),
    url("font/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-BoldItalic.eot");
  src: local("font/Euclid Circular A Bold Italic"),
    local("EuclidCircularA-BoldItalic"),
    url("font/EuclidCircularA-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/EuclidCircularA-BoldItalic.woff2") format("woff2"),
    url("font/EuclidCircularA-BoldItalic.woff") format("woff"),
    url("font/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-LightItalic.eot");
  src: local("font/Euclid Circular A Light Italic"),
    local("EuclidCircularA-LightItalic"),
    url("font/EuclidCircularA-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/EuclidCircularA-LightItalic.woff2") format("woff2"),
    url("font/EuclidCircularA-LightItalic.woff") format("woff"),
    url("font/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-Regular.eot");
  src: local("font/Euclid Circular A Regular"), local("EuclidCircularA-Regular"),
    url("font/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-Regular.woff2") format("woff2"),
    url("font/EuclidCircularA-Regular.woff") format("woff"),
    url("font/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-SemiBold.eot");
  src: local("font/Euclid Circular A SemiBold"),
    local("EuclidCircularA-SemiBold"),
    url("font/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-SemiBold.woff2") format("woff2"),
    url("font/EuclidCircularA-SemiBold.woff") format("woff"),
    url("font/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-Medium.eot");
  src: local("font/Euclid Circular A Medium"), local("EuclidCircularA-Medium"),
    url("font/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-Medium.woff2") format("woff2"),
    url("font/EuclidCircularA-Medium.woff") format("woff"),
    url("font/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-Italic.eot");
  src: local("font/Euclid Circular A Italic"), local("EuclidCircularA-Italic"),
    url("font/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"),
    url("font/EuclidCircularA-Italic.woff2") format("woff2"),
    url("font/EuclidCircularA-Italic.woff") format("woff"),
    url("font/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-SemiBoldItalic.eot");
  src: local("font/Euclid Circular A SemiBold Italic"),
    local("EuclidCircularA-SemiBoldItalic"),
    url("font/EuclidCircularA-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"),
    url("font/EuclidCircularA-SemiBoldItalic.woff") format("woff"),
    url("font/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("font/EuclidCircularA-MediumItalic.eot");
  src: local("/font/Euclid Circular A Medium Italic"),
    local("EuclidCircularA-MediumItalic"),
    url("font/EuclidCircularA-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/EuclidCircularA-MediumItalic.woff2") format("woff2"),
    url("font/EuclidCircularA-MediumItalic.woff") format("woff"),
    url("font/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* EuclidCircularA font family End Here */
/* General */
.body {
  background: #f6f4f8;
}
input,
input:focus,
input:active {
  height: 40px;
  outline: #4f1699;
}
a:hover {
  color: #4f1699;
}
.optionContainer li {
  display: flex;
  align-items: center;
}
.optionContainer li:hover {
  background-color: white;
}
/* General ends hers */
.dashboard_heading {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #304762;
  margin-bottom: -4px;
  margin-left: 10px;
}

.transaction_analysis_section {
  height: 152px;
  left: 19.03%;
  right: 3.26%;
  top: 180px;
  background: #ffffff;
  border: 1px solid #ecf3fc;
  padding: 20px 10px;
  border-radius: 10px;
}

.transaction_volume {
  /* margin-top: 35px; */
  padding-left: 15px;
}
.col_border_right {
  border-right: 1px solid #ecf3fc;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.transaction_volume > h4 {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #304762;
}

.transaction_volume > p {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #4f1699;
}
.transaction_volume .time {
  font-size: 20px;
  color: rgba(82, 82, 82, 0.7);
  font-weight: lighter;
  line-height: 0%;
}

.transaction_volume > p > span {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3dd598;
}

.analytics_title {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #304762;
}

.chart_title {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 10.6207px;
  line-height: 13px;
  color: #212b36;
}
.bg_card {
  width: 100%;
}

.sidebarContent {
  background-color: red;
}

.avatar_text {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0d2879;
}

.greeting {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #363648;
}
.sidebar-link {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sidebar-link svg {
  color: #ffffff;
  opacity: 3.3;
}
.sidebar-item.active > .sidebar-link i,
.sidebar-item.active > .sidebar-link svg,
.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg {
  color: #fff;
  opacity: 3.35;
}
.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
  margin-right: 0.75rem;
  color: #ffffff;
  opacity: 4.3;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-item.active > .sidebar-link,
.sidebar-item.active .sidebar-link:hover {
  color: #ffffff;
  background: transparent;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-link,
a.sidebar-link {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sidebar-link:hover {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: gray;
}

.active {
  background: rgba(255, 255, 255, 0.2);
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

#auth_bg {
  background-image: url("BgImages/auth_bg2.svg");
  width: 100%;
  height: 100%;
  display: flex;
}
.transaction_body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.transaction_card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  width: 32.6%;
  border: 1px solid #ecf3fc;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

/* Login Section Start Here */
#login_section {
  margin-top: 10%;
  margin-bottom: 10%;
  background: linear-gradient(181.31deg, #ffffff 22.83%, #eee4f7 125.78%);
  border-radius: 24px;
  height: 73.4%;
}

.transaction_volume > p {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #4f1699;
}
.transaction_volume .time {
  color: rgba(82, 82, 82, 0.7);
  font-weight: lighter;
  line-height: 0%;
  font-size: 14px;
  line-height: 15px;
}

.transaction_volume > p > span {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3dd598;
}

.analytics_title {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #304762;
}

.chart_title {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 10.6207px;
  line-height: 13px;
  color: #212b36;
}
.bg_card {
  width: 100%;
}

.sidebarContent {
  background-color: red;
}

.avatar_text {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #0d2879;
}

.greeting {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #363648;
}
.sidebar-link {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sidebar-link svg {
  color: #ffffff;
  opacity: 3.3;
}
.sidebar-item.active > .sidebar-link i,
.sidebar-item.active > .sidebar-link svg,
.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg {
  color: #fff;
  opacity: 3.35;
}
.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
  margin-right: 0.75rem;
  color: #ffffff;
  opacity: 4.3;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-item.active > .sidebar-link,
.sidebar-item.active .sidebar-link:hover {
  color: #ffffff;
  background: transparent;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.sidebar-link,
a.sidebar-link {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.sidebar-link:hover {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: gray;
}

.active {
  background: rgba(255, 255, 255, 0.2);
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

#auth_bg {
  background-image: url("BgImages/auth_bg2.svg");
  width: 100%;
  height: 100%;
  display: flex;
}
.transaction_body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.transaction_card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 10px;
  width: 32.6%;
  border: 1px solid #ecf3fc;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

/* Login Section Start Here */
#login_section {
  margin-top: 10%;
  margin-bottom: 10%;
  background: linear-gradient(181.31deg, #ffffff 22.83%, #eee4f7 125.78%);
  border-radius: 24px;
  height: 73.4%;
}

.auth_right {
  margin-top: 13%;
}

.auth_right > h1 {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  text-align: center;
  color: #292932;
}
.downloadApps {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.downloadApps > img {
  margin-top: -20px;
  padding: 8px;
}

.login_screen {
  background-color: #fff;
  border-radius: 0px 24px 24px 24px;
  height: 648px;
}
.login_screen_input {
  margin-top: 13%;
}

.login_screen_input > form {
  margin-top: 0%;
}

.login_screen_input > p {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #92929d;
  padding-top: 20px;
}

/*  Magic Happens Here */
.form_in:placeholder-shown + label {
  opacity: 0;
  transform: translateY(100%);
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #929292;
}

.login_screen_input > form > div > input {
  width: 80%;
  height: 58px;
  
  padding: 16px 16px 10px;
  margin: 20px 0px 10px 0px;
  transition: all 0.1s;
  background: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.group {
  position: relative;
}

.form_in + label {
  position: absolute;
  top: 9px;
  left: 65px;
  transition: all 0.1s;
  opacity: 1;
  padding: 0px 15px -40px 60px;
  transform: translateY(calc(50% + 5px));
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #929292;
  transition: ease-in-out, width 0.35s ease-in-out;
}

.login_screen_input > form > .group > input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #929292;
}

.login_screen_input > form > .group > input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #929292;
}

.login_screen_input > form > .group > input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #929292;
}

.login_screen_input > form > div > input:focus {
  background: #fafafa;
  border: 1px solid #4f1699;
  border-radius: 4px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  box-shadow: none !important;
  color: #000000;
}

.login_screen_input > form > div > input:focus + label {
  padding-bottom: 5px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #929292;
}

.login_screen_input > form > button {
  background: rgba(79, 22, 153, 0.5);
  border-radius: 5px;
  width: 80%;
  height: 50px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fafafb;
  text-transform: capitalize;
  margin-top: 10%;
}

.remember_me {
  margin-top: 6%;
}

.remember_me > div > div > label {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #8798ad;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #12d973;
  background-color: #12d973;
  background: #12d973;
}

.password-toggle-icon {
  position: absolute;
  top: 39px;
  right: 65px;
  z-index: 1000;
  cursor: pointer;
}
/* Login Section Start Here */

/* Status class*/
.status {
  width: 100px;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.success {
  background-color: #defff4 !important;
  color: #14835e !important;
}
.success:focus {
  background-color: #defff4 !important;
  color: #14835e !important;
}
.pending {
  background: rgba(255, 201, 79, 0.2);
  color: #b28215;
}
.pending:focus {
  background: rgba(255, 201, 79, 0.2);
  color: #b28215;
}
.failed {
  background-color: #fdedf1 !important;
  color: #f50d49 !important;
}
.failed:focus {
  background-color: #fdedf1 !important;
  color: #f50d49 !important;
}
.registered {
  background-color: #f6efff;
  color: #4f1699;
}

/* Button */
.button_white {
  background-color: #ffffff;
  color: #6b6c7e;
  border: 1px solid #dadde1;
  padding: 7px 10px;
}
.button_white:hover,
.button_white:focus .button_white:active {
  background-color: #ffffff !important;
  color: #6b6c7e !important;
}
.button_decline {
  background-color: #fff2f3;
  color: #f50d49;

  border: none;
}
.button_approve {
  background-color: #4f1699;
  color: #fafafb;
  padding: 7px 10px;
  border: none;
}
.button_neutral {
  color: #4f1699;
  background-color: #f4f7ff;
  border: none;
  padding: 7px 10px;
}
.button_approve:hover,
.button_approve:focus {
  background-color: #4f1699 !important;
  color: #fafafb !important;
}
.button_decline:hover,
.button_decline:focus {
  background-color: #fff2f3 !important;
  color: #f50d49 !important;
}
.button_neutral:hover,
.button_neutral:focus {
  color: #4f1699 !important;
  background-color: #f4f7ff !important;
}
.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details > h4 {
  color: #304762;
  font-size: 14px;
  font-weight: normal;
}
.customer_image {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.name {
  border-bottom: 1px solid #4f1699;
  color: #4f1699;
  width: fit-content;
  margin: 0;
}
.details_button {
  border: 1px solid #9069c4;
  color: #4f1699;
  border-radius: 4px;
  margin: 0 1rem;
  padding: 0.3rem 1rem;
  background-color: white;
}

.login_screen_input > form > button {
  background: rgba(79, 22, 153, 0.5);
  border-radius: 5px;
  width: 80%;
  height: 50px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fafafb;
  text-transform: capitalize;
  margin-top: 10%;
}

.remember_me {
  margin-top: 6%;
}

.remember_me > div > div > label {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #8798ad;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #12d973;
  background-color: #12d973;
  background: #12d973;
}

.password-toggle-icon {
  position: absolute;
  top: 39px;
  right: 65px;
  z-index: 1000;
  cursor: pointer;
}
/* Login Section Start Here */

/* Customer  */
.customer_card_body {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
}
.customer_card_body .flex {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}
.customer_card_body .flex:nth-child(1) {
  border-bottom: 1px solid #ecf3fc;
}
.customer_card_body .flex > div {
  padding: 0 20px;
}
.customer_card_body .flex > div:nth-child(1) {
  flex-grow: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.customer_card_body .flex > div:nth-child(2) {
  display: flex;
  gap: 10px;
}
.customer_card_body .flex .price {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #4f1699;
}
.button_decline {
  background-color: #fff2f3;
  color: #f50d49;
  border: none;
}
.button_approve {
  background-color: #4f1699;
  color: #fafafb;
  padding: 7px 10px;
  border: none;
}
.button_neutral {
  color: #4f1699;
  background-color: #f4f7ff;
  border: none;
  padding: 7px 10px;
}
.button_approve:hover,
.button_approve:focus {
  background-color: #4f1699;
  color: #fafafb;
}
.button_decline:hover,
.button_decline:focus {
  background-color: #fff2f3;
  color: #f50d49 !important;
}
.button_neutral:hover,
.button_neutral:focus {
  color: #4f1699 !important;
  background-color: #f4f7ff !important;
}
.details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details > h4 {
  color: #304762;
  font-size: 14px;
  font-weight: normal;
}
.customer_image {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.name {
  border-bottom: 1px solid #4f1699;
  color: #4f1699;
  width: fit-content;
}

/* Tabs class */
.savings_tab {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  font-family: Euclid Circular A;
}
.savings_tab .title {
  color: #304762;
  font-weight: 500;
  font-size: 19px;
}

.nav {
  display: flex;
  gap: 10px 30px;
  border-bottom: 1px solid #ecf3fc;
}
.nav > div {
  cursor: pointer;
}
.nav p {
  margin-bottom: 10px;
}
.active_nav {
  border-bottom: 2px solid #4f1699;
  border-radius: 2px;
  color: #4f1699;
}
.tab_body {
  margin: 10px 0;
}

/* Dropdown Filter */
.dropdown_toggle {
  background-color: #696974;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  width: 6rem;
  padding: 10px 0.5rem;
}
.dropdown_menu {
  top: 30px;
  padding: 0.3rem;
  width: 100%;
}

/* Update Action on Vendor */
.update_action {
  cursor: pointer;
}
.update_action:hover {
  color: #4f1699;
}

/* Absolute Header  */
.bg_absolute {
  background-color: white;
  padding: 30px 30px 0px 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #ecf3fc;
}

/* Transaction Details dropdown */

.dropdown_option {
  padding: 0.1rem;
  border-radius: 4px;
}

.dropdown_option:hover {
  background-color: #f6f2fb;
  color: #4f1699;
  border-radius: 2px;
}

/* Avater Button */
.account_button {
  border-radius: 100px;
  border: none;
  padding: 0.5rem 2rem;
}
.button_upload {
  background-color: #4f1699;
  color: white;
}
.button_delete {
  background-color: #e4e4e4;
  color: #000000;
  opacity: 0.5;
}

/* Custom modal styles */

.account_modal .modal-content {
  width: 560px;
  height: 740px;
}
.transaction-modal .modal-content {
  width: 500px;
  height: 500px;
}
.vendor-modal .modal-content,
.decline-modal .modal-content {
  width: 600px;
  height: 400px;
}
.management-modal .modal-content {
  width: 563px;
  height: 587px;
}
.issue-modal .modal-content {
  height: 753px;
  width: 560px;
}
.reconciliation-modal .modal-content {
  width: 936px;
  height: 696px;
  left: 100px;
}

/* Table */
.table {
  background-color: white;
  border-radius: 10px;
  font-family: Euclid Circular A;
  margin-top: 20px;
}
.table_title {
  padding: 20px;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid #ecf3fc;
  font-size: 20px;
  color: #304762;
  font-weight: 600;
  margin: 0;
}
.table_type {
  text-transform: uppercase;
  background-color: #ac8bd3;
  border-radius: 10px;
  font-size: 9px;
  padding: 0.2rem 0.5rem;
  color: white;
  font-weight: 600;
}
.reconciliation-table {
  height: 500px;
}

/* Custom input styles */
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  border: 0.5px solid rgba(79, 22, 153, 0.5);
  background-color: #eceff2;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background: #4f1699;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4f1699;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("/icon/check.svg");
}

/* ########################SKT######################### */

/* ########################SKT######################### */

/* Admin Management Section Starts Here */
.admin-header {
  padding: 0.875rem 1.25rem;
  background: #ffffff;
  border: 1px solid #ecf3fc;
}
.admin-header .btn-primary {
  border-radius: 4px;
  font-weight: 600;
  color: #fafafb;
  padding: 0.4rem 1rem;
}
.admin-header .btn-primary.btn-add,
.admin-form .btn-primary.btn-add,
.btn.btn-primary.btn-add {
  border: 1px solid #4f1699;
  background: #4f1699;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.3px;
}
.admin-header .admin-form .form-check-input {
  display: none;
}
.admin-header .admin-form .form-check-label {
  cursor: pointer;
}
.inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.inline .viewtype {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-left: 0;
}
.admin-header .admin-form .viewtype:nth-child(2) {
  border-right: 1px solid #c4c4c4;
}
.admin-form .btn-filter .btn.btn-secondary {
  background: #fafafa;
  border: 1px solid #e2e2ea;
  border-radius: 8px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.1px;
  color: #696974;
  padding: 0.75rem 1.5rem;
}
.admin-form .btn-filter .dropdown-toggle::after,
.customer-card .admin-form .btn-filter .dropdown-toggle::after {
  margin-left: 1rem;
  position: relative;
  top: 2px;
}
.admin-form .search-group {
  width: 248px;
}
.admin-form .search-group .input-group-text {
  height: 40px;
  background: transparent;
  border: 1px solid #e2e2ea;
  border-right: 0;
  padding-right: 0;
  padding-left: 10px;
  color: #92929d;
}
.admin-form .search-group .input-group-text svg {
  height: 14px;
}
.admin-form .search-group .form-control {
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #e2e2ea;
  border-left: 0;
  letter-spacing: 0.2px;
  color: #92929d;
  height: 40px;
  padding-left: 5px;
}
.admin-body {
  /* margin: 1rem 1.4rem; */
  margin-top: 1rem;
}
.admin-body .all-admins {
  background: #fff;
  border: 1px solid #ecf3fc;
  padding: 1.5rem 0;
}
.admin-body .all-admins h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #304762;
  padding: 0 1rem;
}
.all-admins .admin-card {
  text-align: center;
  box-shadow: 0px 12px 22px rgba(82, 87, 104, 0.08),
    0px 8px 22px rgba(55, 70, 95, 0.1);
}
.all-admins .admin-card .card-body {
  padding: 1.25rem 0.7rem;
}
.all-admins .admin-card .card-title {
  font-weight: 600;
  font-size: 15px;
  color: #404e5b;
  margin-bottom: 0;
}
.all-admins .admin-card .card-text {
  font-weight: normal;
  font-size: 12px;
  color: #404e5b;
  opacity: 0.5;
  margin-bottom: 10px;
}
.all-admins .admin-card .card-subtitle {
  font-weight: 600;
  font-size: 12px;
}
.all-admins .admin-card .card-subtitle.text-completed {
  color: #4a90e2;
}
.all-admins .admin-card .card-subtitle.text-pending {
  color: #e0b007;
}
.all-admins .admin-card .btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  margin-top: 10px;
}
.all-admins .admin-card .btn.btn-danger {
  background: #ee1630;
  color: #fafafb;
  padding: 7px 10px;
}
.all-admins .admin-card .btn.btn-info {
  padding: 7px 20px;
  background: #f1f1f5;
  border: 1px solid #f1f1f5;
  font-weight: 600;
  font-size: 12px;
  color: #696974;
}
.all-admins .admin-table thead {
  background: #f8f9fa;
}
.all-admins .admin-table th,
.all-admins .admin-table td {
  font-size: 15px;
}
.all-admins .admin-table thead th {
  border-top: 0;
  border-bottom: 0;
  color: #13171c;
  font-weight: 600;
}
.all-admins .admin-table td {
  border-top: 0;
  border-bottom: 1px solid #e7e7ed;
  color: #272833;
}
.all-admins .admin-table td,
.all-admins .admin-table th {
  padding: 0.75rem 1rem;
}
.all-admins .admin-table tbody tr:hover {
  background: rgba(223, 227, 232, 0.2);
}
.all-admins .admin-table .edit {
  color: #5664d2;
}
.all-admins .admin-table .delete {
  color: #ff3d60;
}
.all-admins .admin-table .react-bootstrap-table-pagination {
  padding: 0 1rem;
  margin-top: 1rem;
}
.all-admins .admin-table #pageDropDown,
.all-admins .admin-table .page-link,
.all-admins .pagination .page-link {
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #92929d;
}
.all-admins .admin-table .page-link,
.all-admins .pagination .page-link {
  border: 0;
}
.all-admins .admin-table .page-item.active .page-link,
.all-admins .pagination .page-item.active .page-link {
  font-weight: bold;
  color: #4f1699;
  background: transparent;
}
.all-admins .admin-table [title~="page"] .page-link,
.all-admins .admin-table #pageDropDown,
.all-admins .pagination .page-link[aria-label="Previous"],
.all-admins .pagination .page-link[aria-label="Next"] {
  border: 1px solid #e2e2ea;
  border-radius: 8px;
  background: transparent;
}

.modal-backdrop {
  background: rgb(40, 41, 40);
}
.admin-modal .modal-content {
  width: 82%;
  height: auto;
}
.admin-modal .modal-header {
  flex-direction: column-reverse;
  border-bottom: 1px solid rgba(216, 216, 216, 0.6);
}
.admin-modal .modal-header .modal-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #171725;
  align-self: center;
  text-align: center;
  margin-left: 0;
}
.admin-modal .modal-header .close {
  align-self: flex-end;
  background: #dfe8f880;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0;
}
.admin-modal .modal-body .form-group {
  position: relative;
}
.admin-modal .modal-body .form-control,
.react-select > div:first-child,
.message-form .form-control {
  background: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding-left: 19px;
}
.react-select > div:first-child {
  padding-left: 10px;
}
.admin-modal .modal-body label,
.admin-modal.upgrade-modal .modal-body .cacNumber label,
.message-form .label-title {
  font-size: 16px;
  line-height: 20px;
  color: #929292;
  z-index: 0;
  position: absolute;
  top: 13px;
  left: 20px;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
.admin-modal .modal-body .form-control:focus,
.admin-modal .modal-body .form-control:valid,
.admin-modal.upgrade-modal .modal-body .cacNumber .form-control:focus,
.admin-modal.upgrade-modal .modal-body .cacNumber .form-control:valid {
  padding-top: 15px;
}
.admin-modal .modal-body .form-control:valid + label,
.admin-modal .modal-body .form-control:focus + label,
.message-form .form-control:valid + .label-title,
.message-form .form-control:focus + .label-title,
.admin-modal.upgrade-modal .modal-body .cacNumber .form-control:valid + label,
.admin-modal.upgrade-modal .modal-body .cacNumber .form-control:focus + label {
  font-size: 14px;
  line-height: 18px;
  top: 4px;
  /* transform: translate3d(0,-10px,0); */
}
.admin-modal .modal-body select.form-control:valid {
  padding-top: 0;
}
.admin-modal .modal-body hr {
  border-top: 1px solid #e7e7ee;
  margin: 3rem -1rem 1rem -1rem;
}
.admin-modal.token-modal {
  max-width: 580px;
}
.token-modal .modal-body {
  padding: 1rem 3rem;
}
.token-modal .modal-body .form-control {
  width: 48px;
  background: #f2f4f8;
  font-size: 28px;
  padding: 0;
  text-align: center;
}
.token-modal .modal-body .form-control:focus,
.token-modal .modal-body .form-control:valid {
  padding-top: 0;
}
.modal-dialog.deactivate-modal .modal-content {
  width: 85%;
}
.deactivate-modal .modal-header,
.update-modal .modal-header,
.update-modal .tab .nav-tabs {
  border-bottom: 1px solid rgba(216, 216, 216, 0.6) !important;
}
.deactivate-modal .modal-header .modal-title,
.update-modal .modal-header .modal-title {
  font-size: 18px;
  margin-top: -30px;
}
.deactivate-modal .modal-body p {
  font-size: 16px;
  color: #19283c;
  opacity: 0.54;
}
.deactivate-modal .modal-footer {
  border-top: 1px solid rgba(216, 216, 216, 0.6);
  justify-content: space-between;
}
.btn.btn-info.btn-cancel {
  background: transparent;
  border: 1px solid #dadde1;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b6c7e;
  padding: 7px 20px;
}
.btn.btn.btn-danger.btn-delete {
  border: 1px solid #ee1630;
  background: linear-gradient(0deg, #ee1630, #ee1630);
  font-size: 14px;
  font-weight: 500;
  padding: 7px 30px;
}

.update-modal .tab .nav-tabs .nav-link {
  background: transparent;
  padding: 0;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: rgb(23 23 37 / 60%);
  margin-right: 15px;
}
.update-modal .tab .nav-tabs .nav-link.active {
  border-bottom: 2px solid #4f1699;
}
.update-modal .tab .tab-content {
  box-shadow: none;
  padding: 0;
  padding-top: 1rem;
}
.update-modal .tab .tab-pane {
  height: 405px;
}
.update-modal .btn.btn-primary.btn-add {
  width: auto !important;
  padding: 10px 20px !important;
}
.update-modal .modal-body p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.24px;
  color: #181818;
}
.filter-dropdown-menu {
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 4px #e7e7e7;
  width: 250px;
  padding: 15px;
  top: 35px !important;
}
.admin-header .admin-form .filter-dropdown-menu .form-check-input {
  display: block;
}
.filter-dropdown-menu label {
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
}
.filter-dropdown-menu .form-check label {
  font-weight: normal;
  opacity: 0.8;
}
.filter-dropdown-menu .form-control {
  height: 40px;
  background: #fafafa;
  border: 1px solid #e7e7ed;
  font-size: 14px;
  color: #272833;
}
.filter-dropdown-menu .btn.btn-info.btn-cancel {
  font-size: 15px;
}
.admin-form .filter-dropdown-menu .btn-primary.btn-add {
  padding: 8px 20px;
}
.details-modal.modal-dialog,
.success-modal.modal-dialog {
  max-width: 460px;
  margin: 0;
  margin-left: auto;
}
.details-modal.modal-dialog .modal-content {
  box-shadow: 0px 2px 5px 1px rgba(214, 214, 214, 0.5);
  border-radius: 0;
  height: 100vh;
  width: 100%;
}
.details-modal .modal-body {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-modal .modal-body h6 {
  font-weight: 600;
  font-size: 18px;
  color: #212b36;
}
.details-modal .details-wrapper,
.details-modal .modal-body h6 {
  border-bottom: 1px solid #f1f1f1;
}
.details-modal .modal-body p {
  font-size: 14px;
  letter-spacing: -0.224px;
}
.details-modal .modal-body .details-title {
  color: rgba(0, 0, 0, 0.604922);
}
.details-modal .modal-body .details-value {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.774257);
}
.details-modal .btn.btn.btn-info.btn-cancel {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  border: 1px solid #c4cdd5;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  width: 100%;
}
.details-modal .btn.btn-primary.btn-add {
  font-size: 14px !important;
  font-weight: 500;
  padding: 9px 20px !important;
}
.btn-info:hover:not(:disabled):not(.disabled),
.btn-info.hover:not(:disabled):not(.disabled) {
  color: inherit;
}
.search-wrapper {
  margin: 0 !important;
}
.complete-modal.modal-dialog {
  max-width: 500px;
  margin: 0;
  margin-left: auto;
}
.complete-modal .modal-content {
  width: 95%;
  margin: 0;
  margin: auto;
  margin-top: 15px;
}
.complete-modal .modal-header {
  position: relative;
  z-index: 2;
}
.complete-modal .modal-body p {
  width: 80%;
}
.complete-modal .modal-body {
  margin-top: -50px;
}
.btn-transparent {
  background: transparent;
  border: 0;
  padding: 0;
}

/* Settl Customers */
.customer-header .dropdown-toggle::after {
  margin-left: 1.255em;
}
.transaction_volume h6 {
  font-weight: 500;
  font-size: 15px;
  color: #304762;
}
.transaction_volume p.subtitle {
  font-size: 12px;
  line-height: 15px;
  color: rgba(82, 82, 82, 0.7);
}
.filter-dropdown .btn-light {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #dcdcdc;
}
.btn.btn-primary.btn-add.btn-export {
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
}
.admin-body .badge.badge-secondary {
  display: block;
  font-weight: 300;
  padding-top: 4px;
  padding-bottom: 3px;
  font-size: 13px;
  width: 85px;
  margin: auto;
  border-radius: 4px;
}
.badge.badge-secondary.badge-active {
  background: #defff4;
  color: #14835e;
}
.badge.badge-secondary.badge-inactive {
  background: rgba(209, 209, 209, 0.2);
  color: #747370;
}
.badge.badge-secondary.badge-new {
  background: #f6efff;
  color: #4f1699;
}
.badge.badge-secondary.badge-dormant {
  background: rgba(255, 201, 79, 0.2);
  color: #b28215;
}

/* customer details page */
.back {
  font-weight: 400;
  font-size: 15px;
  color: #a6b0c0;
  display: inline-block;
  padding-bottom: 1.2rem;
}
.customer-card-header h6 {
  font-weight: bold;
  font-size: 18px;
  color: #3a3f63;
}
.customer-card-header .badge-level {
  width: 90px;
  padding: 0.3rem;
  background: #bbe5b3;
  border-radius: 4px;
  font-weight: normal;
  font-size: 13px;
  color: #414f3e;
}
.customer-card-header span {
  font-size: 12px;
  color: #5a607f;
}
.customer-card-header p {
  font-weight: 600;
  font-size: 14px;
  color: #3a3f63;
}
.customer-card .nav-item .nav-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #2b2f42;
}
.customer-card .nav-item .nav-link.active {
  background: #f6f4f8;
  border-radius: 8px;
}
.customer-card .nav-item .nav-link.active .icon-wrapper {
  background: #4f1699;
}
.customer-card .nav-item {
  width: 100%;
  text-align: left;
}
.customer-card .nav-item .nav-link.active,
.customer-card .nav-item .nav-link:hover {
  border: 0;
}
.customer-card .nav-tabs {
  border-bottom: 0;
}
.customer-card .icon-wrapper {
  width: 40px;
  height: 40px;
  background: #f4f7ff;
  border-radius: 8px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-dropdown {
  margin-bottom: -10px;
}
#more-dropdown .dropdown-toggle:after {
  display: none;
}
#more-dropdown .btn.btn-secondary {
  background: #f4f7ff;
  border: 0;
}
.more-dropdown .dropdown-menu {
  padding-left: 5px;
  padding-right: 5px;
}
.more-dropdown .dropdown-item {
  padding-left: 10px;
  padding-right: 10px;
}
.more-dropdown .dropdown-item:hover,
.more-dropdown .dropdown-item:focus {
  background: #f6f2fb;
}
.more-dropdown .dropdown-item.freeze {
  color: #ee1630;
}
#update-dropdown .btn.btn-primary.btn-add {
  padding: 10px 20px;
}
#update-dropdown .dropdown-toggle::after {
  margin-left: 1.25rem;
}
.account-information h6 {
  font-weight: 500;
  font-size: 16px;
  color: #304762;
  margin-bottom: 0;
}
.account-tab .nav-item .nav-link {
  padding-left: 0;
}
.account-tab .nav-item .nav-link.active {
  background: transparent;
  color: #4f1699;
}
.account-content p {
  font-size: 16px;
  color: rgba(48, 71, 98, 0.8);
}
.account-wrapper {
  background: #f7f7fa;
  border-radius: 6px;
  padding: 10px;
  text-align: left;
  margin-bottom: 15px;
}
.account-wrapper p {
  font-weight: 500;
  font-size: 15px;
  color: #3a3f63;
}
textarea.form-control {
  height: auto !important;
}
.freeze-modal .modal-header .modal-title {
  font-weight: 600;
  font-size: 18px;
  color: #212b36;
}
.freeze-modal .modal-body p {
  font-size: 14px;
  color: #19283c;
  opacity: 0.54;
  margin-bottom: 2rem;
}
.success-modal .modal-header .modal-title {
  text-align: left;
  align-self: start;
  margin-top: -25px;
}
.success-modal .modal-header .modal-title h6 {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.3px;
  color: #000;
  margin-bottom: 0;
}
.success-modal .modal-header .modal-title p {
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.success-modal.modal-dialog .modal-content {
  box-shadow: 0px 12px 22px rgba(82, 87, 104, 0.08),
    0px 8px 22px rgba(55, 70, 95, 0.1);
  width: 100%;
}
.alert-wrapper {
  background: rgb(251 234 229 / 50%);
  padding: 15px;
  text-align: left;
  border-top: 4px solid #ee1630;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.alert-wrapper h6 {
  font-weight: 500;
  font-size: 14px;
  color: #212b36;
}
.alert-wrapper p {
  font-size: 12px;
  color: rgba(33, 43, 54, 0.7);
  margin-bottom: 0;
}
.alert-wrapper p button {
  padding: 0;
  color: #4f1699;
  opacity: 0.8;
}
.customer-card .all-admins .admin-table thead th,
.customer-card .all-admins .admin-table td,
.customer-card .admin-body .all-admins h6,
.customer-card .react-bootstrap-table-pagination-total {
  text-align: left;
}
.customer-card .all-admins .admin-table thead th,
.customer-card .all-admins .admin-table td {
  padding: 0.75rem 1rem;
}
.customer-card .admin-body .all-admins h6 {
  font-size: 18px;
}
.customer-card .admin-body {
  margin-top: 0;
}
.customer-card .react-bootstrap-table-pagination-total {
  display: block;
  color: #637381;
}
.customer-card .admin-body .all-admins {
  padding-bottom: 10px;
}
.badge.badge-secondary.badge-pending {
  background: rgb(255 201 79 / 20%);
  color: #b28215;
}
.customer-card .admin-form .search-group,
.filter-form .search-group {
  flex-wrap: inherit;
}
.badge.badge-secondary.badge-unresolved {
  background: #fdedf1;
  color: #f50d49;
}
.wallet-more-dropdown .btn.btn.btn-secondary {
  padding: 11px 15px;
}
.admin-form .search-wrapper {
  height: auto;
  padding-top: 0;
}
.admin-form .search-wrapper > input {
  padding: 5px 20px 5px 8px;
}
.search-group #search-bar-0 {
  width: 225px;
}
.close-modal {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}
.suspended-modal.modal-dialog {
  max-width: 700px;
}
.admin-modal .modal-body .reason-title {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  color: #171725;
}
.admin-modal .modal-body .reason-value {
  font-size: 16px;
  color: #272833;
  opacity: 0.6;
  font-weight: 300;
}
.customers .admin-modal .modal-header {
  border-bottom: 1px solid rgba(216, 216, 216, 0.6);
}
.customers .all-admins .table-title {
  border-bottom: 1px solid #ecf3fc;
  padding-bottom: 1.2rem;
}

/* settl agents */
.customer-card-header .badge-agent {
  background: #ac8bd3;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.24px;
  color: #fff;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}
.terminal h6 {
  text-align: left;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.24px;
  color: #414141;
}
.terminal p {
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.24px;
  color: #181818;
}
.document-wrapper {
  border: 1px solid #e8e8e8;
  padding: 0.5rem 1rem;
}
.document-wrapper p {
  color: #000;
}
.breadcrumb {
  background: transparent;
  padding-left: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb-item a {
  font-weight: 500;
  font-size: 14px;
  color: #4f1699;
}
.breadcrumb-item.active {
  font-size: 12px;
  color: #304762;
  opacity: 0.8;
}
.sub-agent-issue-log .admin-table tr:hover,
.sub-agent-transaction .admin-table tr:hover {
  cursor: pointer;
}
.sub-agent-issue-log .admin-table tr:hover td:nth-child(1),
.sub-agent-issue-log .admin-table tr:hover td:nth-child(2),
.sub-agent-transaction .admin-table tr:hover td:nth-child(2) {
  color: #4f1699;
}
.fund-transfer {
  font-weight: 500;
  font-size: 15px;
  color: #304762;
}
.transaction-amount h6 {
  font-weight: 600;
  font-size: 24px;
  color: #4f1699;
}
.transaction-amount p {
  font-size: 12px;
  color: rgba(48, 71, 98, 0.8);
}
.transaction-amount .badge-unresolved {
  border-radius: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 10px;
}
.transaction-details .title {
  font-size: 14px;
  color: rgba(48, 71, 98, 0.8);
}
.transaction-details .value {
  font-weight: 500;
  font-size: 14px;
  color: #304762;
}
.transaction-line {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 2rem;
}
.transaction-details .value .agent-id {
  color: #4f1699;
}

/* ########################SKT######################### */

.customers .table > tbody > tr:hover {
  cursor: pointer;
}
.admin-modal.upgrade-modal .modal-body label {
  font-size: 14px;
  line-height: 20px;
  position: static;
  color: #031b4a;
}
.admin-modal.upgrade-modal .modal-body p {
  padding: 0 45px;
}
.transaction-amount .badge-pending {
  border-radius: 100px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: 10px;
}
.donut-flex .apexcharts-legend {
  text-align: left;
}
.donut-flex p {
  color: #354052;
}
.donut-flex .apexcharts-legend-series {
  margin-bottom: 1rem !important;
  display: flex;
  align-items: center;
}
.donut-flex .apexcharts-legend-marker {
  height: 8px !important;
  width: 24px !important;
  margin-right: 10px;
}
.donut-flex .apexcharts-legend-text {
  color: #acacac !important;
  font-size: 14px !important;
}
.all-admins .wallet-distribution h6 {
  border-bottom: 0;
  padding-bottom: 0;
}
.admin-modal.issue-details-modal .modal-body select.form-control {
  background: #fdedf1;
  color: #f50d49;
  font-size: 13px;
  height: auto;
  padding: 5px 10px;
}
.admin-modal.issue-details-modal .modal-body hr,
.account-information hr {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.admin-modal.issue-details-modal .modal-body hr {
  border-top: 1px solid rgba(231, 231, 237, 0.6);
  margin-top: 0;
}
.admin-modal.admin-modal.issue-details-modal p {
  color: #171725;
}
.admin-modal.issue-details-modal .text-lighter,
.admin-modal.issue-details-modal span {
  color: #272833;
  opacity: 0.6;
}
.customer-card .nav {
  border-bottom: 0;
}
.border-right {
  border-right: 1px solid #ecf3fc !important;
}
.account-information hr {
  border-top: 1px solid #ecf3fc;
  margin-bottom: 0;
}

/* Messaging */
.message-form .chip,
.new-admin-form .chip {
  background-color: transparent !important;
  padding-top: 7px;
  font-size: 16px;
  color: #000;
}
.message-form .search-wrapper {
  padding-top: 0 !important;
}
.relative {
  position: relative;
}
.rdw-link-modal {
  height: auto !important;
}
.form-group .rdw-editor-wrapper {
  background: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.form-group .rdw-editor-toolbar,
.form-group .rdw-option-wrapper {
  background: transparent;
  border: 0;
}
.form-group .rdw-editor-toolbar {
  padding-top: 15px;
}
.form-group .public-DraftStyleDefault-block {
  padding-left: 15px;
  height: 6rem;
}
.form-group .rdw-option-active {
  box-shadow: none;
  background: #4f1699;
  color: #fff;
}
.form-group p {
  font-weight: 500;
  font-size: 14px;
  color: #272833;
}
.form-group .upload span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.604922);
}
.form-group span a {
  color: #4f1699;
}
.w-90 {
  width: 90%;
}

/* css changes */
.badge.badge-secondary.badge-referred {
  background: #ac8bd3;
  border-radius: 10px;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: #fff;
  padding: 0.3rem 0.6rem;
  padding-top: 0.25rem;
}

.react-bootstrap-table-pagination-total {
  color: #637381;
}
input[type="file"] {
  background: #f2f4f8;
  padding: 7px;
  border-radius: 4px;
}
input[type="file"]::-webkit-file-upload-button {
  background: #4f1699;
  font-size: 15px;
  color: #f2f7ff;
  border: 0;
  padding: 6px 2rem 5px 2rem;
  border-radius: 4px;
}
/* input[type="file"]::after {
    content: "JPG, PNG or PDF format only.";
    font-size: 14px;
    color: #607292;
    opacity: 0.3;
    margin-left: -3.5rem;
} */
.new-admin-form .chip {
  padding-left: 15px;
  padding-top: 5px;
}
.new-admin-form .optionContainer li {
  padding-left: 20px;
}
.new-admin-form .search-wrapper > input {
  padding: 10px 20px 30px 15px !important;
}

/* */
.admin-table .react-bootstrap-table table {
  table-layout: initial;
}
.search-group label {
  margin-bottom: 0;
}
.customer-card .search-group #search-bar-0 {
  width: 175px;
}
.admin-body .transaction-table .badge.badge-secondary,
.admin-body .message-table .badge.badge-secondary {
  width: 80px;
}
.admin-body .transaction-table .badge.badge-secondary {
  border-radius: 100px;
}

.all-admins .admin-table td,
.customer-card .all-admins .admin-table td {
  font-weight: 300;
  padding: 1.2rem 1rem;
}
.back:hover {
  color: #501699;
  text-decoration: none;
}

/* message details page */
.campaign {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #304762;
}
.compaign-messages p {
  font-weight: 500;
  color: #304762;
  opacity: 0.7;
}
.campaign-messages h6 {
  font-weight: 600;
  font-size: 22px;
}
.campaign-messages .sent {
  color: #4f1699;
}
.campaign-messages .delivered {
  color: #1eb75b;
}
.campaign-messages .not-delivered {
  color: #f50d49;
}
.message-structure p {
  font-size: 16px;
  font-weight: 300;
}
.message-value-wrapper {
  background: #fafafb;
  border: 1px solid #f3f7fd;
  padding: 1rem;
  border-radius: 8px;
  width: 85%;
  height: 160px;
  overflow-y: auto;
}
.message-name {
  color: rgba(48, 71, 98, 0.8);
}
.message-value {
  color: #272833;
}
.optionContainer {
  font-family: "Euclid Circular A" !important;
}
.optionContainer li:hover {
  background: #f6f2fb !important;
  color: #212b36 !important;
}
.message-right {
  position: absolute;
  right: 25px;
  top: 82px;
}

@media screen and (min-width: 991px) and (max-width: 1150px) {
  .export-flex {
    display: block !important;
    text-align: left;
    margin-bottom: 1rem;
  }
}

/* ################################################## */

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #4F1699;
  border-color: #4F1699;
}


.apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series {
  display: flex;
  align-items: center;
   padding-top: 40px;
   padding-right: 35px;
   font-family: Euclid Circular A;
   font-style: normal;
   font-weight: normal;
   font-size: 10.6207px;
   line-height: 13px;
   color: #212B36;
}
