.forget_login {
  left: calc(50% - 128px/2 + 403.5px);
  top: 412px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.114286px;
  color: #4F1699;
}

.modal-dialog .modal-content {
  background: #FFFFFF;
  box-shadow: 0px 50px 70px rgba(11, 16, 51, 0.06);
  border-radius: 6px;
}

.modal-content {
  width: 65%;
  margin: auto;
  /* height: 650px; */
  height: 450px;
}

.modal-header{
  border-bottom: 1px solid rgba(216, 216, 216, 0.6);
}

.modal-title {
  margin-left: 32%;   
}
.close{
  text-shadow: none;
  box-shadow: none;
  opacity: .90;
}

.forget_pass_title > h1{
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #171725;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.float-label {
  margin: 25px 10px 34px 10px;
  padding: 0;
  border: 0;
  margin-bottom: 10px;
  height: 3.5em;
  box-sizing: border-box;
  box-shadow: none;
  position: relative;
 
}
.float-label label {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #929292;
  z-index: 0;
  width: 20;
  height: 0;
  left: 0px;
  top: 0px;
  position: absolute;
  top: 15px;
  left: 20px;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: all 0.2s ease-in-out;
  
}
.float-label input {
  z-index: 1;
  height: 3.5em;
  background: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.float-label input:valid, .float-label input:focus {
  padding: 20px 8px 5px 20px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
}
.float-label input:focus {
  background: #ffffff;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  border: 1px solid #4F1699;
  border-radius: 4px;
  box-shadow: none;
}
.float-label input:valid + label, .float-label input:focus + label {
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #929292;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}


.search-wrapper{
  height: 55px;
  background: #FAFAFB;
  border: 1px solid #F1F1F5;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 25px 10px 1px 10px;
  padding: 300px;
}

.search-wrapper > input{
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 10px 20px 30px  8px;
}

.chip{
background-color: #4F1699 !important;
margin-top: 1.6%;
font-family: Euclid Circular A;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;

}

.optionContainer{
  background: #FFFFFF !important;
  border: 1px solid #F1F1F5 !important;
  box-shadow: 0px 5px 15px rgba(68, 68, 79, 0.1);
  border-radius: 0px 0px 8px 8px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #696974;
}

.checkbox{
  background-color: brown !important;
}
.highlight{
  background: #FFFFFF !important;
  color: #696974 !important;
}

.well > p{
  width: 80%;
  height: 48px;
  left: 564px;
  top: 262px;
  display: flex;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  letter-spacing: -0.24px;
  color: #181818;
}

.modal-footer 
  {
  justify-content: none;
  flex-wrap: none;
  align-items: none;

  padding: none;
  border-top: 1px solid gba(231, 231, 237, 0.6);
  border-bottom-right-radius:none;
  border-bottom-left-radius: none;
   
}
.forget_pass_modal_footer > button{
  background: #FFFFFF;
  border: 1px solid #DADDE1;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6B6C7E;
}

.forget_pass_footer_section{
  margin: -10px 10px 15px ;
}

.forget_pass_footer_section > .forget_pass_cancel{
  float: left;
  justify-content: flex-start;
  background-color: #000000;
  border: 1px solid #DADDE1;
  background: #FFFFFF;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  width: 18%;
  text-transform: capitalize;
  color: #6B6C7E;
  box-shadow: none;
}


.forget_pass_footer_section > .forget_pass_submit{
  float: right;
  justify-content: flex-end;
  background: #4F1699;
  border-radius: 3px;
  border: 1px solid #DADDE1;
  text-transform: capitalize;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 37px;
  width: 30%;
  color: #FFFFFF;
  box-shadow: none;
}

.forget_pass_btn > button{
  background: #4F1699;
  border-radius: 3px;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}


#css_custom {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  width: 97%;
  /* height: 3.5em; */
}


.well_otp > p {

  width: 69%;
  height: 48px;
  /* left: 564px;
  top: 262px; */
  display: flex;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  letter-spacing: -0.24px;
  color: #181818;
}


.btn_continue{
  height: 3rem;
  width: 98%;
  background: rgba(79, 22, 153, 0.5);
  border-radius: 5px;
  margin-top: 20%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FAFAFB;
}

.btn_continue:hover{
  background: #4F1699;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FAFAFB;
}
.code_otp{
  margin-top: 22px;
  margin-bottom: 30px;
}
.code_otp > span{
  width: 69%;
  display: flex;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 4px;
  justify-content: space-evenly;
  margin: auto;
  text-align: center;
  letter-spacing: -0.24px;
  color: #181818;
}

.otp_con_inp{
  margin: auto;
  width: 50%;
}
.otp_con_inp >textarea {
  background: #F2F4F8;
  height: 300px;
}

.otp_sty > input{
  margin: 10px;
  background: #F2F4F8;
  height: 40px;
  border: none;
  font-family: Euclid Circular A;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height */
  display: flex;
  flex: 0 0 40px;
  align-items: center;
  color: #000000;
}







